@use '../../../styles/variables';

.form-map-container {
  position: absolute;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1000;
  padding: 10px;
  display: flex;
  justify-content: flex-end;
  height: fit-content;
  .form-map {
    background-color: #00000070;
    border-radius: 3px;
    padding: 1em;
    border: none;
    display: flex;
    flex-direction: column;
    width: 80%;
  }
  .form-map-select-container {
    margin-bottom: 0.8rem;
  }
  .form-map-select {
    width: 100%;
    border-radius: 3px;
    border: none;
    height: 2rem;
    font-family: variables.$mainFont;
    font-size: variables.$fsStandard * 0.95;
  }
  .form-map-select:focus {
    border: 1px solid variables.$emphaseColor;
  }
}

.form-map-coordinates-container {
  width: 100%;
  margin-bottom: 0.8rem;
  display: flex;
  justify-content: space-between;

  .form-map-coordinates-input-number {
    border-radius: 3px;
    border: none;
    width: 43%;

    height: 2rem;
  }
  .form-map-coordinates-button {
    display: flex;
    align-items: center;
    width: 10%;
    background-color: variables.$emphaseColor;
    border: none;
    color: variables.$lightTextColor;
    font-size: variables.$fsStandard * 1.1;
    font-weight: 600;
    height: 2rem;
    border-radius: 3px;
  }
  .form-map-coordinates-button:active {
    scale: 0.95;
    transition: 0.2s;
  }
}

.form-map-textArea {
  resize: none;
  width: 100%;
  border-radius: 3px;
  border: none;
  margin-bottom: 0.8rem;
}
.form-map-textArea::placeholder {
  font-family: variables.$mainFont;
  padding: 5px 0 0 5px;
}

.label {
  margin-bottom: 5px;
}

.form-map-button-submit {
  background-color: variables.$emphaseColor;
  font-family: variables.$mainFont;
  height: 2.5rem;
  border-radius: 3px;
  color: inherit;
  font-size: variables.$fsStandard * 1;
  font-weight: 600;
  border: none;
  transition: 0.2s;
}
.form-map-button-submit:active {
  scale: 0.95;
  transition: 0.2s;
}

@media (max-width: 992px) {
  .form-map-container {
    width: 100%;
    top: 78%;
    justify-content: center;
    align-items: center;
    -webkit-animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94)
      both;
    animation: scale-in-center 0.4s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;

    .blur-background {
      top: 210%;
      width: 90%;
      display: flex;
      justify-content: center;
      position: absolute;
    }
    .form-map {
      background-color: rgba(0, 0, 0, 0.95);
      width: 80%;
      justify-content: center;
    }
    .form-map-coordinates-button {
      display: flex;
      justify-content: center;
    }
    .form-map-label {
      margin-bottom: variables.$gutter * 0.8;
      color: #fff;
      font-weight: 400;
    }
    .form-map-button-submit {
      padding: 12px 12px;
    }
  }
}

@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
