@use '../../styles/variables' as var;

.survivalGuide-header {
  display: flex;
  width: 90%;
  margin: 0 auto;
}

.survivalGuide-container--section {
  display: flex;
  width: 90%;
  flex-wrap: wrap;
  gap: 1%;
  margin: 0 auto 5rem auto;
}

.survivalGuide-container--category-select {
  margin-bottom: var.$gutter * 1.5;
  border: none;
  border-radius: 3px;
  width: 85%;
  margin-left: 7.5%;
  font-size: 0.9rem;
  font-family: var.$mainFont;
  padding: 8px 5px;
}

.add-article-button {
  position: fixed;
  right: var.$gutter;
  bottom: var.$gutter * 6;
  z-index: 100;
  color: #3a8300;
  transition: 0.4s;
}
.add-article-button:hover {
  transform: rotate(90deg);
}
.notconnected-popup {
  display: flex;
  align-items: center;
  background-color: #555;
  color: var.$lightTextColor;
  box-shadow: 1px 1px 8px var.$backgroundDarkOpacity;
  text-align: center;
  border-radius: 5px;
  padding: var.$gutter;
  position: fixed;
  right: var.$gutter * 1.2;
  bottom: var.$gutter * 11;
  height: fit-content;
  width: fit-content;
  z-index: 1;
  &::before {
    content: '';
    border-bottom: 20px solid #555;
    border-left: 25px solid transparent;
    position: absolute;
    bottom: -8px;
    right: 1em;
    transform: rotate(45deg);
  }
}

@media (min-width: 577px) {
  .survivalGuide-container--category-select {
    width: 49%;
    margin-left: 0;
  }
}

@media (min-width: 993px) {
  .add-article-button {
    right: var.$gutter * 4;
    bottom: var.$gutter * 4;
  }
  .survivalGuide-container--category-select {
    width: 24%;
  }
  .notconnected-popup {
    right: var.$gutter * 4.4;
    bottom: var.$gutter * 9;
  }
}
